* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2d3e50;
  background-color: #f5f8fa;
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-weight: 900;
  font-size: 4em;
}

h2 {
  font-weight: 600;
  font-size: 2em;
}

span {
  font-size: 1em;
}

li {
  list-style: none;
}
 /* header */
 .container {
   width: 80%;
   margin: 0 auto;
 }
/* fixed */
div.fixed {
  position: fixed;
  top: 0;
  height: 7vh;
  width: 100%;
  border-bottom: 1px solid black;
  background-color:  #edfffd;
  z-index: 999;
}

div.lenguageselect, div.buttons {
  float: left;
  width: 50%;
  margin-top: 15px;
  font-size: 0.8em;
}

div.lenguageselect :last-child {
  margin-left: 10px;
}

.lenguageselect hr {
  display: inline;
}

div.buttons li {
  display: inline-block;
}

li.btn {
  padding: 4px 2px;
  line-height: 15px;
  border-radius: 5px;
}

div.buttons ul {
  position: absolute;
  right: 10px;
}

.btn.empty {
  border: 1px solid #ff7a59;
  margin: 0 5px 0 5px;
}

.btn.full {
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
}

.full a {
  color: white;
}

li.empty a {
  color: #ff7a59;
}
/* fine fixed */
.container.relative {
  position: relative;
}

.space {
  margin-top: 8vh;
}

.header_logo {
  float: left;
  width: 50%;
}

ul.menu {
  position: absolute;
  right: 0;
  margin-top: 5px;
}

ul.menu li {
  display: inline;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: grey;
}

div.header_logo,
ul.menu {
  padding: 15px 0 15px 0;
  line-height: 10px;
  font-size: 12px;
}

/* banner header */
div.header_banner {
  height: 80vh;
}

div.header_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.labarra {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color:  #9aead6;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

div.banner_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}
.banner_text h1 {
  line-height: 70px;
  padding-bottom: 30px;
}

div.banner_text p {
  padding-bottom: 30px;
}

#subtitle {
  padding-top: 20px;
  font-size: 0.8em;
}

.banner_text span {
  display: inline-block;
}
span.btn.full {
  padding: 20px;
  border-radius: 10px;
}
/* fine header */

/* main 3 col */
div.text_main {
  text-align: center;
  padding: 30px 0 50px 0;
  width: 60%;
  margin: 0 auto;
}

div.text_main img{
  width: 70%;
}

div.text_main span {
  font-size: 0.9em;
}

div.col3 {
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 3px lightgray;
  padding: 30px;
}

div.vertical li::before {
  font-family: FontAwesome;
  content: "\f058";
  padding-right: 5px;
  color: #ff7a59;
}

.vertical li::after {
  content: attr(f058);
}

.col3.orizontal > div {
  float: left;
}

.picleft {
  text-align: center;
  width: 35%;
}

.textright {
  width: 60%;
}

.textright:last-child {
  display: inline-block;
}
.textright h3{
  padding-bottom: 10px;
}

.textright h4 {
  display: inline;
}

.textright hr {
  display: inline-block;
  width: 60%;
}

.col3.orizontal img {
  width: 30%;
  margin-bottom: 20px;
}

div.picleft .btn.full {
  padding: 10px 25px;
  border-radius: 5px;
}

div.picleft span {
  font-size: 0.8em;
}

div.checks {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

div.checks span {
  margin: 0 5px;
  font-size: 15px;
}

div.checks i {
  color: #ff7a59;
}

.orizontal {
  width: 100%;
  margin-bottom: 60px;
}

.vertical {
  float: left;
  width: 31.1%;
  margin-right: 38.7px;
  margin-bottom: 60px;
  text-align: center;
}

div.vertical h3 {
  font-size: 25px;
  padding-bottom: 20px;
}

div.vertical img {
  width: 35%;
  padding-bottom: 20px;
}

#big {
  width: 40%;
  padding-bottom: 25px;
}

div.no_margin img {
  width: 30%;
}

.no_margin {
  margin: 0;
}

div.vertical hr {
  margin: 70px 0 40px 0;
}

div.vertical ul {
  padding: 20px 0 20px 40px;
  text-align: left;
}

div.vertical li {
  font-size: 13px;
}

div.vertical span.btn.full {
  padding: 10px;
  border-radius: 5px;
}
/* griglia */
.container100_linear {
  width: 100%;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  min-height: 550px;
}

.griglia {
  text-align: center;
  color: white;
  padding-top: 50px;
}

.square {
  float: left;
  width: 24%;
}

.square h3 {
  font-size: 30px;
  padding: 8px 0;
}

.square span {
  font-size: 10px;
}

div.square {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 0;
}

div.row.first {
  margin-top: 50px;
}

div.row.second div.square {
  border-bottom: none;
}

div.row .square:last-child {
  border-right: none;
}
/* fine griglia */

/* numero */
.custumers, .loghi {
  float: left;
  text-align: center;
  width: 50%;
  height: 200px;
}

div.text {
  margin-top: 50px;
}

/* loghi */
div.loghi div.row.first {
  border: none;
}

.logo {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}

div.logo img {
  width: 80%;
}
/* fine loghi */
div.text_grow p {
 margin: 20px 0 80px 0;
}

div.text_grow,
div.pic_right {
  float: left;
  width: 50%;
}

div.pic_right img {
  width: 50%;
  margin:50px 0 50px 40%;
}

/* footer */
.foot {
  background-color: #2d3e50;
}

div.list ul {
  float: left;
  width: 25%;
  padding: 25px 0 25px 0;
}

div.lenguage li {
  position: relative;
  left: 25%;
  float: left;
  padding: 20px;
}

footer hr {
  width: 100%;
  border: 1px solid black;
}

div.left, div.right {
  float: left;
  width: 50%;
}

div.left img {
  padding-top: 20px;
  width: 20%;
}

div.left p {
  padding-top: 5px;
}

div.right ul {
  padding: 25px 0 0 70%;
}

div.right li {
  display: inline-block;
  margin-right: 5px;
}

footer ul li:first-child {
  padding-bottom: 8px;
}

footer ul.row .btn.full{
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-color: white;
}


footer a, footer p {
  color: white;
  font-size: 12px;
}

footer hr {
  border-color: white;
}

div.copyright, div.right {
  margin-bottom: 50px;
}

.list ul:last-child li:last-child a {
  color: #2d3e50;
}
 .social {
   position: absolute;
   right: 13%;
   top: 75%;
   color: white;
 }

 .social i {
   padding: 0 5px;
 }
